<div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 class="page-title">User Registration</h1>
        <form #registerForm="ngForm">
          <div class="form-group">
            <div *ngIf="errors.length > 0" class="alert alert-danger">
            <ul *ngFor = "let error of errors">
                <li>{{ error }}</li>
            </ul>
            </div>

            <label for="firstname">First Name</label>
            <input type="text"
                    class="form-control"
                    [(ngModel)] = "formData.firstname"
                    name="firstname"
                    #firstname = "ngModel"
                    required>
                    <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
                    class="alert alert-danger">
                    <div *ngIf="firstname.errors.required">
                      First Name is required
                    </div>
                  </div>
                    <label for="lastname">Last Name</label>
                    <input type="text"
                            class="form-control"
                            [(ngModel)] = "formData.lastname"
                            name="lastname"
                            #lastname = "ngModel"
                            required>
                 <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
                      class="alert alert-danger">
                     <div *ngIf="lastname.errors.required">
                      Last Name is required
                     </div>
                          </div>
            <label for="username">Username</label>
           <input type="text"
                   class="form-control"
                   [(ngModel)] = "formData.username"
                   name="username"
                   #username = "ngModel"
                   required>
          </div>
          <div *ngIf="username.invalid && (username.dirty || username.touched)"
            class="alert alert-danger">
            <div *ngIf="username.errors.required">
              Username is required
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email"
                   class="form-control"
                   [(ngModel)] = "formData.email"
                   name="email"
                   #email = "ngModel"
                   required>
          </div>
          <div *ngIf="email.invalid && (email.dirty || email.touched)"
            class="alert alert-danger">
            <div *ngIf="email.errors.required">
              Email is required
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
                   class="form-control"
                   [(ngModel)] = "formData.password"
                   #password = "ngModel"
                   name="password"
                   required>
          </div>
          <div *ngIf="password.invalid && (password.dirty || password.touched)"
            class="alert alert-danger">
            <div *ngIf="password.errors.required">
              Password is required
            </div>
          </div>

          <div class="form-group">
            <label for="passwordConfirmation">Confirm Password</label>
            <input type="password"
                   class="form-control"
                   [(ngModel)] = "formData.passwordConfirmation"
                   #passwordConfirmation = "ngModel"
                   name="passwordConfirmation"
                   required>
          </div>

          <div *ngIf="passwordConfirmation.invalid && (passwordConfirmation.dirty || passwordConfirmation.touched)"
          class="alert alert-danger">
          <div *ngIf="passwordConfirmation.errors.required">
            Confirm Password is required
          </div>
        </div>

          <div class="form-group">
            <label for="passwordConfirmation">Address Line 1</label>
            <input type="text"
                   class="form-control"
                   [(ngModel)] = "formData.addressline1"
                   #addressline1 = "ngModel"
                   name="addressline1"
                   required>
          </div>

          <div class="form-group">
            <label for="passwordConfirmation">City</label>
            <input type="text"
                   class="form-control"
                   [(ngModel)] = "formData.city"
                   #city = "ngModel"
                   name="city"
                   required>
          </div>

          <div class="form-group">
            <label for="passwordConfirmation">State</label>
            <input type="text"
                   class="form-control"
                   [(ngModel)] = "formData.state"
                   #state = "ngModel"
                   name="state"
                   required>
          </div>

          <div class="form-group">
            <label for="passwordConfirmation">ZipCode</label>
            <input type="password"
                   class="form-control"
                   [(ngModel)] = "formData.zipcode"
                   #zipcode = "ngModel"
                   name="zipcode"
                   required>
          </div>
          <button 
          (click) = "register()"
          type="submit" 
          class="btn btn-warning"
          [disabled] = "!registerForm.form.valid">Register</button>
        </form>
      </div>
    </div>
</div>